FB_EMAIL_1=
FB_PASSWORD_1=

FB_EMAIL_2=
FB_PASSWORD_2=

FB_EMAIL_3=
FB_PASSWORD_3=

FB_EMAIL_4=
FB_PASSWORD_4=

FB_EMAIL_5=
FB_PASSWORD_5=

FB_EMAIL_6=
FB_PASSWORD_6=

FB_EMAIL_7=
FB_PASSWORD_7=

POST_URL=
COMMENT_TEXT_1=
